<div>
  <app-header></app-header>
</div>
<div style="text-align:center">
  <h1>
    demo
  </h1>
</div>


<div>
  <app-product-overview> </app-product-overview>
</div>

<div>
  <app-product-details> </app-product-details>
</div>
<div>
  <app-footer></app-footer>
</div>